.container {
    background-color: blue;
    width: 800px;
    height: 600px;
    border-radius: 30px;
    margin: 140px auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    line-height: 100px;
}
.elemento{
    visibility: hidden;
}
span{
    color: white;
    background-color: red;
    position: absolute;
    text-align: center;
    visibility: visible;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-size: xx-large;
    right: 0;
    border: 1px solid black;
}
